<a href="https://colab.research.google.com/github/EmelyanovAndreyNSK/PythonTasks/blob/master/PyPractice2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import math
list1 = [1.0, 2.0, 3.0, 4.0, 5.5]
for i in range(len(list1)):
  list1[i] = math.sqrt(list1[i]) #Turn every item of a list into its square root

print (list1)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.345207879911715]

In [0]:
list1 = ['M', 'na', 'i', 'Ke']
list2 = ['y', 'me', 's', 'lly']
list3 = []
for i in range(len(list1)): #Concatenate two lists with string items index-wise
  list3.append(list1[i]+list2[i])
print(list3)

['My', 'name', 'is', 'Kelly']

In [1]:
#Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order ?????
list1 = ['M', 'na', 'i', 'Ke']
list2 = ['y', 'me', 's', 'lly']

for i in range(len(list1)): 
  print(list1[i],list2[len(list2)-i-1])

M lly
na s
i me
Ke y

In [15]:
list1 = ['M', '','na', 'i', '', 'Ke']
print (list1)
list2 = []
for i in range(len(list1)): #scan for empty strings
  if(len(list1[i])<1):    
    list2.append(i)

for i in range(len(list2)): #Remove empty strings from the list of strings
  list1.pop(list2[i] - i)

print (list1)

['M', '', 'na', 'i', '', 'Ke']
['M', 'na', 'i', 'Ke']

In [25]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

for i in list1:
  if isinstance(i, list):
    for j in i:
      if isinstance(j, list):
        for e in j:
          if (e == 6000):
            j.append(7000) #Add item 7000 after 6000 in the following Python List
print (list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [28]:
list1 = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']

print (list1)

def rec(list2): #Given a nested list extend it with adding sub list ["h", "i", "j"] 
  f = 0
  for i in list2:
    if isinstance(i, list):
      f = f + 1
      rec(i)
  if (f == 0):
    list2.append(["h", "i", "j"])

rec (list1)
print (list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

In [32]:
list1 = [1, 2, 3, 4, 20, 5, 20]

for i in range(len(list1)): #find value 20 in the list, and if it is present, replace it with 200
  if list1[i] == 20:
    list1[i] = 200
    break

print(list1)

[1, 2, 3, 4, 200, 5, 20]

In [37]:
list1 = [1, 2, 3, 4, 20, 5, 20]

print (list1)
list2 = []

for i in range(len(list1)): #scan for empty strings
  if(list1[i] == 20):    
    list2.append(i)

for i in range(len(list2)): #Remove empty strings from the list of strings
  list1.pop(list2[i] - i)

print (list1)

[1, 2, 3, 4, 20, 5, 20]
[1, 2, 3, 4, 5]