<a href="https://colab.research.google.com/github/EmelyanovAndreyNSK/PythonTasks/blob/master/PyPractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
n = int(input())
sum=0

for i in range(n):#calculate the sum of all number between 1 and n including n
  sum = sum+i
print (sum)

5
10

In [0]:
for i in range(-10, -1):
  print (i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

In [0]:
L = [1, 6, 5, 15, 120, 25 ]#list


for i in range (len(L)):
  if(L[i]>=120):#if  number greater than 120 was found stop the loop iteration
    break
  if (L[i] %5 == 0):#display numbers which are divisible by 5
    print (L[i])

5
15

In [0]:
n = int(input())

for i in range(n):
    for j in range(1,n-i):
      print (j,sep = ' ', end = ' ')
    print ('\n')

6
1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [0]:
n = int(input())

n = str(n)

print (len(n))

1243
4

In [0]:
L = [1, 6, 5, 15, 120, 25 ]

for i in range (len(L)):#reverse
  print(L[len(L)-i-1])

25
120
15
5
6
1

In [0]:
x = int(input())
y = int(input())

for i in range (x):
  if(i==y):#if y<x
    break
 
else: print('Done')#loop was successful executed

5
6
Done