<a href="https://colab.research.google.com/github/EmelyanovAndreyNSK/PythonTasks/blob/master/PyPractice2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleListtoAdd = ["Blue", "Green", "Red"]

print(sampleSet.update(sampleListtoAdd)) #Add a list of elements to a given set

{'Red', 'Orange', 'Black', 'Yellow', 'Green', 'Blue'}

In [5]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.intersection(set2)) #Return a set of identical items from a given two Python set

{40, 50, 30}

In [11]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.union(set2)) #Returns a new set with all items from both sets by removing duplicates

{70, 40, 10, 50, 20, 60, 30}

In [12]:
set1 = {10,20,30}
set2 = {20,40,50}
print(set1.difference(set2)) #update first set with items that exist only in the first set and not in the second set

{10, 30}

In [14]:
set1 = {10,20,30,40,50}
print(set1 - {10, 20, 30}) #Remove 10, 20, 30 elements from a following set at once

{40, 50}

In [18]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}

print(set1.symmetric_difference(set2)) #Return a set of all elements in either A or B, but not both

{20, 70, 10, 60}

In [26]:
set1 = {10,20,30,40,50}
set2 = {60,70,80,90,10}
set3 = set()
set3 = set1.intersection(set2) #Determines whether or not the following two sets have any elements in common.
if (len(set3)>0):
  print("Two sets have items in common")
  print(set3) 
else:
  print("Two sets have not items in common")

Two sets have items in common
{10}

In [36]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
set1.symmetric_difference_update(set2) #Update set1 by adding items from set2, except common items
print(set1)

{70, 10, 20, 60}

In [37]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
set2.symmetric_difference_update(set1) #Remove items from set1 that are not common to both set1 and set2
print (set1 - set2)

{40, 50, 30}