<a href="https://colab.research.google.com/github/EmelyanovAndreyNSK/PythonTasks/blob/master/PythonTasks3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#String operations and manipulations

In [0]:
str = input() #Given a string of odd length

print(str[int(len(str)/2-1)],str[int(len(str)/2)],str[int(len(str)/2+1)]) #return a string made of the middle three chars of a given String

123456789
4 5 6

In [0]:
s1 = input()
s2 = input()

s3 = (s1[:int(len(s1)/2)]+s2+s1[int(len(s1)/2):]) #new string by appending s2 in the middle of s1

print (s3)

1234567654324567876543
zzzzzzzz
12345676543zzzzzzzz24567876543

In [0]:
s1 = input()

sl = ""
su = ""

for i in range (len(s1)): #Arrange String characters such that lowercase letters should come first
  
  if((ord(s1[i])>=ord("a"))&(ord(s1[i])<=ord("z"))):
    sl=sl+s1[i]
  else:
    su=su+s1[i]

print(sl+su)

lowUPlowUP
lowlowUPUP

In [0]:
s1 = input()
low=0
up=0
sim=0
digit=0

for i in range (len(s1)): #Count all lower case, upper case, digits, and special symbols
  
  if((ord(s1[i])>=ord("a"))&(ord(s1[i])<=ord("z"))):
    low=low+1
  elif((ord(s1[i])>=ord("A"))&(ord(s1[i])<=ord("Z"))):
    up=up+1
  elif((ord(s1[i])>=ord("0"))&(ord(s1[i])<=ord("9"))):
    digit=digit+1
  else:
    sim=sim+1

print(low,up,digit,sim)

lowUP1234;;;;;
3 2 4 5

In [0]:
s1 = input()
position = []
num = 0
for i in range (len(s1)):
  S = s1[i:i+6]
  if (S.lower()=="python"): #Find all occurrences of "Python" in given string ignoring the case
    num = num + 1
    position.append(i)
print ("There are", num, "occurrences", "in positions", position)

PythonpythonjkdflgdljgPyThon
There are 3 occurrences in positions [0, 6, 22]

In [0]:
def summa(a): #return the sum
    a = a.split()
    b = []
    for i in a:
      if((i[0]>="0")&(i[0]<="9")):
        b.append(int(i))
    return sum(b)
 
s = 0

a = input()
s += summa(a)
print('Summa:',s)

123 qwe 123 qwe
Summa: 246

In [0]:
s = input()
slov = {}
for i in range(len(s)): #count occurrences of all characters within a string 
  if (slov.get(s[i])==None):
    slov[s[i]] = 1
  else:
    slov[s[i]] = slov[s[i]] + 1

print(slov)

abbcccdddd
{'a': 1, 'b': 2, 'c': 3, 'd': 4}